@font-face { font-family: "KarlaGecko"; 	src: url('Karla-Regular.ttf'); }
@font-face { font-family: "KarlaTrident"; 	src: url('Karla-Regular.eot'); }

body 
{ 
	font-family: KarlaGecko, KarlaTrident; 
	margin: 0px;
	
}

#footerInfo
{

text-align: left;
font-size: 10px;
float:right;
height: 55px;
position:absolute;

width: 100%;

bottom: 30px;
color: rgb(188, 188, 188);
background: url(footer.png) repeat-x;

}

#footer
{

font-size: 10px;
float:right;
height: 30px; 
bottom: 0px;
margin-bottom: 0px;

width: 100%;

position:absolute;
background: url(footer2.png) repeat-x;
color: rgb(255, 255, 255);
font-size: 12px;

}

#separatorFooter
{

top: 6%;
padding-left: 33.3333%;
position: absolute;

}

#cadre
{

	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;

}