

body{
    background-color: #FFFFFF;
}
h1{
    background-color: #cccccc;
    padding-left: 10px;
    margin : 0;
}
li{
    list-style-type:none;
}
ul{
    margin-bottom: 20px;  

}


.div ul {
    margin: 20px 0 0 0;
}

.visitCard {
    height: 180px;
}

.visitCard img {
    height: 130px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 130px;
}
.visitCard i {
    top: -90px;
}

.visitCard ul {
    display: block;
    float: right;
    position: relative;
    right: 158px;
    top: 32px;
}

.formatForm input {
    left: 114px;
    position: absolute;
}
.modifVisitCard {
    height: 461px;
    position: relative;
}
.modifPresentation {
    height: 197px;
    position: relative;
}

.modifExperience {
    height: 260px;
    position: relative;
}

.modifExperience.formatForm input {
    left: 223px;
}

.modifExperience.formatForm input[type="submit"] {
    left: 30px;
}

.modifFormation.formatForm input[type="submit"] {
    left: 30px;
}

.formatForm input[type="submit"] {
    left: 30px;
}
.modifFormation.formatForm {
    height: 184px;
    position: relative;
}

.formatForm input[type="text"] {
    left: 183px;
    position: absolute;
}
.modifSkills.formatForm {
    height: 90px;
    position: relative;
}


.modifSkills.formatForm input[type="submit"] {
    left: 30px;
}

.formatForm input[type="text"] {
    left: 203px;
    position: absolute;
}
.modifTraining.formatForm {
    height: 151px;
    position: relative;
}
.modifNews.formatForm {
    height: 192px;
    position: relative;
}

.modifInternship.formatForm textarea {
    left: 39px;
    position: relative;
}

.modifInternship.formatForm {
    height: 217px;
    position: relative;
}

.modifInternship.formatForm {
    height: 214px;
    position: relative;
}
.formatForm ul {
    margin-top: 20px;
}


.formatForm li {
    padding: 10px;
}

.icon-pencil > span {
    left: 16px;
    position: relative;
}

.icon-pencil {
    font-size: 13px;
    left: 452px;
    position: relative;
    top: -27px;
}


.FirstColumn {
    display: inline-block;
    margin-right: 0;
    width: 528px;
}

.secondColumn {

    display: inline-block;
    float: right;

}

.contact ul{
    display: inline-block;
}



#news_small{
    zoom: 1;
    width: auto;
    font-size:11px;	
    border: 1em;
    float:center;
    margin-left: 0px; 
}

.headerProfilStudent ul a{
    margin-top:20px;
    background:#3399cc;
    color: #FFFFFF; 
    margin:3;
}
.headerProfilStudent input{
    width:215px;
    margin-right:4px;
    margin-left:4px;
    margin-top:18px;
}


.blockExperience ul {
    margin-bottom: 20px;
    margin-top: 8px;
}


.blockExperience li:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

#myCarousel{
    margin-top:30px;
    width:680px;
}

#myCarousel img{

}


#bandeau-pub{
    margin-bottom: 75px;
    width: 400px;
    height: 100px;
    background-color: black;
}

